.title {
  margin: 0;
  margin-bottom: 10px;
  color: gray;
  text-align: center;
}

.wrapper {
  padding: 10px;
  background-color: #b0c4de;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 10px;
}
